// global
.headerright
  position: relative
  min-height: 240px

.rightaboutheader
  position: absolute
  width: 100%

.weheader
  position: relative
  margin-top: 30px
  margin-bottom: 30px
  font-family: "Playfair Display", serif
  font-size: 40px
  font-weight: 800
  color: #000

  &::before
    content: ""
    position: absolute
    bottom: -8px
    left: 0
    height: 3px
    width: 40px
    background: #d7c8a4

// about
.about
  h1
    margin: 0 auto 24px

  .headerright
    background-image: url(img/studio1.jpg)
    background-size: cover
    background-position-x: right !important

  .rightaboutheader
    background-color: rgba(black, 0.1)
    background-image: url(img/men-white.png)
    background-repeat: no-repeat
    background-position: bottom center
    @extend %background_full

  .deviceheader
    position: relative

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      height: 3px
      width: 40px
      background: #d7c8a4

  .steptext strong
    font-weight: 800

  .stepimg.one
    background-image: url(img/step1.png)

  .stepimg.two
    background-image: url(img/step2.png)

  .stepimg.three
    background-image: url(img/step3.png)

  .arrowdiv
    position: relative

    .arrow
      height: 0
      width: 0
      margin: 0 auto
      border-style: solid
      border-width: 6px 10px
      border-color: transparent transparent transparent #d7c8a4

  .s2
    min-height: 800px

    .viewworktext
      display: inline-block

    .s2top .abouth2 h2 span
      display: inline-block
      padding-left: 5px
      border-bottom: 2px solid #000
      line-height: 70px
      vertical-align: middle

    .devicelink
      display: block
      position: relative
      background: 0 0

  .s3
    display: table
    position: relative
    height: 100%
    width: 100%
    color: #fff
    background: #171717

    .s3header h3
      font-family: SouthernAire, serif
      font-size: 150px
      font-weight: 200
      line-height: 100px

    .s3subheader h4
      margin: 0 0 10px
      font-family: "Playfair Display", serif
      font-size: 18px
      font-weight: 400
      line-height: 34px

    .s3top
      display: table-cell
      max-width: 1200px
      margin: 0 auto
      padding: 0
      text-align: center
      vertical-align: middle

      h3
        margin: 40px 0 0

    .s3text
      position: relative
      max-width: 960px
      margin: 0 auto
      padding-bottom: 40px
      font-family: Lato, sans-serif
      font-size: 12px
      line-height: 22px

      &::after
        content: ""
        position: absolute
        bottom: -30px
        left: 50%
        height: 2px
        width: 280px
        margin-left: -140px
        background: #fff

  .s4
    display: table
    height: 100%
    width: 100%

    .tablecell
      display: table-cell
      height: 100%
      width: 100%
      text-align: center
      vertical-align: middle

    .stepswrap .col.arrowdiv
      padding-top: 100px

    .stepimg
      height: 100px
      margin: 0 20px 40px
      background-position: center bottom
      background-repeat: no-repeat
      background-size: auto 100%

    ul
      padding: 0

  .s5
    display: table
    width: 100%
    min-height: 900px
    color: #fff
    background-color: #171717
    background-image: url(img/staender.png)
    background-position: center 130px
    background-repeat: no-repeat
    background-size: auto 90%

    .tablecell
      display: table-cell
      position: relative
      height: 100%
      vertical-align: middle

  .s5,
  .s6
    display: table
    width: 100%

  .s5
    min-height: 700px

  .s5 .tablecell,
  .s6 .tablecell
    display: table-cell
    height: 100%
    vertical-align: middle

  .s6
    overflow: hidden
    height: 100%

  .principals .principwrap
    position: relative

    &::after
      content: ""
      display: table
      clear: both

@media only screen and (max-device-width: 480px) and (orientation: portrait)
  .about
    .headerleft .textwrapabout
      position: absolute
      top: 20%
      left: 0
      width: auto
      margin: 0
      padding: 0 40px

      br
        display: none

    .s2
      .s2top
        padding: 50px 2%

      .s2bottomwrap2
        .deviceimage:last-child
          margin-top: 20px

    .s2top .abouth2 h2
      font-size: 28px

    .s2top .abouth2 h2 span
      font-size: 55px

    .s3
      height: 118%

    .s5
      .printext
        max-width: none

    .s6
      .weheader
        margin-bottom: 25px

    .aboutfooter,
    .aboutfootertop
      min-height: 240px

    .aboutfooter .abouttext br
      display: none

@media only screen and (max-width: 640px)
  .about
    .s4
      min-height: 1400px !important

@media only screen and (max-device-width: 480px) and (orientation: landscape)
  .about
    .s5
      background-image: none

      .tablecell
        padding: 30px 0

    .s6
      padding: 40px 0

      .weheader
        margin-bottom: 25px

      .wecontact
        width: 62%
        margin-left: 4%

      .wesocial
        width: 30%

    .aboutfooter,
    .aboutfootertop
      min-height: 240px

@media screen and (max-width: 640px)
  .about
    .s4 .stepimg
      height: 160px
      width: 100%
      margin: 20px 0

    .s5
      background-position: 27% 130px

@media screen and (max-width: 960px)
  .about
    .headerleft .textwrapabout
      top: 15%

    .aboutsection1 .abouth1
      margin: 0

    .headerright
      background-image: none

    .rightaboutheader
      background-color: #fff
      background-image: url(img/mobile_men.png)
      background-size: auto 90%

    .weheader::before,
    .deviceheader::before
      left: 50%
      margin-left: -20px

    .s3
      .s3header h3
        font-size: 80px
        line-height: 80px

    .s4
      .stepheader
        width: 60%

      .steptext br
        display: block

      .stepswrap .col.arrowdiv
        padding-top: 60px

      .steptext ul,
      .steptext div
        margin: 0 15px

      .arrowdiv .arrow
        +transform(rotate(90deg))

    .s5
      background-position: -800px 130px

    .wewrap .col
      margin: 0

    .wewrap .col:first-child
      margin: 0 0 50px

    .aboutfooter .aboutfootertop .footerleft
      padding: 10% 4%

    .aboutftel,
    .aboutfmail
      display: none

    .pictop
      height: 300px

    .picbottom
      display: none

@media only screen and (min-width: 641px) and (max-width: 960px)
  .about
    .s4
      min-height: 920px
      padding-top: 30px

      .stepheader
        position: relative
        top: -70px
        width: 50%
        margin-left: 0

      .steptext
        overflow: hidden

        br
          display: none

@media screen and (min-width: 769px) and (max-width: 1024px)
  .about
    .s2top .abouth2 h2 br
      display: none

    .s2bottomwrap .deviceimage
      text-align: left
      margin-right: 8%

    .deviceimage:first-of-type
      width: 11%
      img
        width: 98px

    .s2bottomwrap .deviceimage:nth-of-type(2)
      width: 12%
      margin-right: 6%

      .deviceimgsingle img
        width: 88px

      .devicetext
        width: 80px

    .s2bottomwrap .deviceimage:nth-of-type(3)
      width: 13%

    .s2bottomwrap .deviceimage:nth-of-type(4)
      width: 33%
      margin-right: 0

    .s3 .s3text
      max-width: 715px

    .s4
      .stepcol2,
      .stepcol3
        .stepheader
          margin-left: 10px
          margin-right: 10px

    .weheader
      padding-bottom: 5px

@media screen and (min-width: 961px) and (max-width: 1024px)
  .about
    .s2top .abouth2
      width: 46%

      h2
        max-width: none

      br
        display: none

    .s2top .abouttext2
      width: 50%
      padding-left: 40px

@media screen and (min-width: 961px)
  .about
    .aboutsection1 .textwrapabout
      position: absolute
      bottom: 25%
      height: 40%
      margin: 0 10% 18px 20%
      padding: 0!important
      text-align: right

    .s4 .stepimg
      height: 170px
      width: auto

@media screen and (min-width: 600px) and (max-width: $breakpoint-m) and (min-height: 600px)
  .about
    .weheader
      margin-bottom: 30px

    .devicetextwrap,
    .deviceimage .deviceimgsingle img
      margin-left: 0

    .s2leftwrap,
    .s3 .s3top .s3text
      max-width: 620px

    .s2
      .s2top .abouth2 h2
        float: none
        line-height: 30px

        span
          line-height: 50px

    .s4
      min-height: 1000px

    .s5
      height: 108%
      background-position: -1020px 145px

@media screen and (min-width: 1025px)
  .about
    .s2 
      .deviceimage
        opacity: 0
        +animation(fadeOutLeft .8s ease-in-out)
        +animation-fill-mode(both)

      .deviceimage:nth-child(3)
        +animation-delay(.3s)

      .deviceimage:nth-child(2)
        +animation-delay(.6s)

      .deviceimage:nth-child(1)
        +animation-delay(.9s)

      &.active .deviceimage
        +animation(fadeInLeft .4s ease-in-out)
        +animation-fill-mode(both)

        &:nth-child(2)
          +animation-delay(.2s)
    
        &:nth-child(3)
          +animation-delay(.4s)
    
        &:nth-child(4)
          +animation-delay(.6s)

    .s3
      .s3top > div
        position: absolute
        +transform(translateX(-50%) translateY(-25%))

    .s4
      .col
        opacity: 0

      &.active .stepcol1,
      &.active .stepcol2,
      &.active .stepcol3
        +animation(fadeIn .8s linear)
        +animation-fill-mode(both)

      &.active .arrowdiv
        +animation(fadeInRight .8s ease)
        +animation-fill-mode(both)

      &.active .col:nth-child(2)
        +animation-delay(.2s)

      &.active .col:nth-child(3)
        +animation-delay(.4s)

      &.active .col:nth-child(4)
        +animation-delay(.6s)

      &.active .col:nth-child(5)
        +animation-delay(.8s)

    .s5
      .col
        opacity: 0

      .principwrap:before
        bottom: 100%

      &.active .col
        position: relative
        +animation(fadeInTop .4s ease-in-out)
        +animation-fill-mode(both)

        &:nth-child(3)
          +animation-delay(.2s)

        &:nth-child(4)
          +animation-delay(.4s)
        
        &:nth-child(5)
          +animation-delay(.6s)
        
        &:nth-child(6)
          +animation-delay(.8s)

      &.active .principwrap:before
        +animation(principles 5s linear)
        +animation-fill-mode(both)

    .s6 .wewrap .col
      opacity: 0

    .s6.active .wewrap .col
      +animation(fadeIn .6s linear)
      +animation-fill-mode(both)

      &:nth-child(2)
        +animation-delay(.3s)
