#pagination .arriver.active .bullet
  background-color: #ff9f4c

#arriver .visuals
  background-image: url("img/m_bg_05_arriver.jpg")
  background-position: center top
  background-size: auto 120%

#arriver .mockup
  background-image: url("img/m_mockup_arriver.png")

#arriver .logo
  height: 70px
  background-image: url("img/logo_arriver.png")

@media screen and (max-width: $breakpoint-m)
  #arriver .mockup
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-image: url("img/m_mockup_arriver.png")
    background-position: center bottom
    background-size: auto 81%
@media screen and (min-width: $breakpoint-m)
  #arriver .visuals
    background-image: url("img/bg_05_arriver.jpg")

  #arriver .mockup
    background-image: url("img/mockup_arriver.png")
    background-position: center bottom
    background-size: auto 73%

@media screen and (min-width: $breakpoint-m) and (max-height: 768px)
  #arriver .content
    top: 40%
