// portfolio

#pagination .beloved.active .bullet
  background-color: #484236

#beloved .visuals
  background-image: url("img/m_bg_09_beloved.jpg")
  @extend %background_full

#beloved .mockup
  background-image: url("img/m_shadow_beloved.png")

  &::after
    background-image: url("img/m_mockup_beloved.png")

#beloved .logo
  width: 150px
  background-image: url("img/logo_beloved.png")

@media screen and (max-width: $breakpoint-m)
  #beloved .mockup
    background-image: url("img/m_shadow_beloved.png")
    background-position: center
    background-size: auto 70%

    &::after
      background-image: url("img/m_mockup_beloved.png")
      background-position: center
      background-size: auto 70%

@media screen and (min-width: $breakpoint-m)
  #beloved .visuals
    background-image: url("img/bg_09_beloved.jpg")

  #beloved .mockup
    top: 18%
    right: -14%
    height: 74%
    width: 120%
    background-image: url("img/shadow_beloved.png")

    &::after
      background-image: url("img/mockup_beloved.png")

  #beloved .content h2
    margin-right: 25%

//@media screen and (min-width: $breakpoint-m) and (max-height: 768px)
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
  #beloved .mockup
    top: 12%

  #beloved .content
    top: 41%

@media only screen and (max-device-width: 480px) and (orientation: portrait)
  #beloved .content h2
    margin: 0 30px 30px
