// portfolio

#harrys .visuals,
#pagination .harrys .tip,
#pagination .harrys.active .bullet
  background-color: #b0d150

#harrys .slide
  background: #f1f2f2

#harrys .logo
  height: 50px
  background-image: url("img/logo_harryshome.png")

#harrys .link
  color: #b6b6b6

@media screen and (max-width: $breakpoint-m)
  #harrys .mockup
    position: absolute
    left: -10%
    height: 100%
    width: 110%
    background-image: url("img/m_shadow_harryshome.png")
    background-position: center
    background-size: auto 60%
    &::after
      background-image: url("img/m_mockup_harryshome.png")
      background-position: center
      background-size: auto 60%

@media screen and (min-width: 961px)
  #harrys .mockup
    top: 14%
    right: -16%
    height: 72%
    width: 115%
    background-image: url("img/shadow_harryshome.png")
    &::after
      background-image: url("img/mockup_harryshome.png")

  #harrys .logo
    margin-bottom: 14%

  #harrys .content
    position: absolute
    top: 50%
    left: 10%
    right: 28%
    bottom: 2%
    max-width: 400px
    margin: -33% 0 0

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
  #harrys .mockup
    top: 5%

  #harrys .content
    top: 40%

@media only screen and (max-device-width: 480px) and (orientation: landscape)
  #harrys .content h2
    margin: 0 50px 30px
