// portfolio

#intro .visuals, #pagination .intro.active .bullet
  color: white
  background-color: #171717

#intro h1
  margin: 0 0 24px

.badge
  position: relative
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-image: url("img/badge.png")
  background-size: auto 50%
  background-position: center
  background-repeat: no-repeat

.discover
  font-size: 12px
  line-height: 16px
  text-decoration: none
  color: #d7c8a4

@media screen and (min-width: 961px)
  .badge
    background-position: 30% center

  #intro .content
    position: absolute
    top: 34%
    /*top: auto
     *bottom: 25%
     */
    height: 40%
    margin: 0 10% 18px 20%
    text-align: right

  #intro .text
    margin-left: 10%

  .discover
    transition: opacity 0.7s

  .active .discover
    opacity: 1

  .discover .triangle
    float: right
    margin-left: 2em

@media screen and (min-width: 961px) and (max-width: 1103px)
  #intro .content
    margin: 0 10% 18px 9%

  .badge
    background-size: auto 38%

@media screen and (min-width: 480px) and (max-width: 768px)
  #intro .content
    position: absolute
    left: 50%
    width: 400px
    margin: 0 40px
    margin-left: -200px

  .badge
    background-size: auto 60%

@media screen and (min-width: 1600px)
  .badge
    background-size: auto 400px

@media screen and (min-width: 481px) and (max-width: $breakpoint-m)
  .discover
    position: absolute
    left: 0
    bottom: 10%
    width: 100%
    text-align: center

    .discover .triangle
      display: block
      margin: 10px auto 0

@media only screen and (max-device-width: 480px) and (orientation: portrait)
  /* TODO move */
  h1
    font-size: 24px

  #navbar
    top: 60%

  .content
    top: 20%
    left: 0
    width: auto
    margin: 0
    padding: 0 20px

  .discover
    position: absolute
    left: 0
    bottom: 10%
    width: 100%
    text-align: center

    .discover .triangle
      display: block
      margin: 10px auto 0
