
/* 3 - partech */
/* line 3, .styles/pages/_partech.sass */
#pagination .partech.active .bullet
  background-color: #d2232a

/* line 7, .styles/pages/_partech.sass */
#partech .slide
  background: #dae0e8
/* line 9, .styles/pages/_partech.sass */
#partech .visuals
  background-image: url("img/bg_04_partechventures.jpg")
  background-size: cover
/* line 12, .styles/pages/_partech.sass */
#partech .logo
  background-image: url("img/logo_partechventures.png")

@media screen and (max-width: $breakpoint-m)
  /* line 16, .styles/pages/_partech.sass */
  #partech .mockup
    position: absolute
    top: 0
    left: -12%
    height: 100%
    width: 112%
    background-image: url("img/m_shadow_partech.png")
    background-position: center
    background-size: auto 65%
    /* line 25, .styles/pages/_partech.sass */
    &::after
      background-image: url("img/m_mockup_partech.png")
      background-position: center
      background-size: auto 65%
@media screen and (min-width: $breakpoint-m)
  /* line 32, .styles/pages/_partech.sass */
  #partech .mockup
    top: 12%
    right: -22%
    height: 75%
    width: 118%
    background-image: url("img/shadow_partech.png")
    /* line 38, .styles/pages/_partech.sass */
    &::after
      background-image: url("img/mockup_partech.png")
  /* line 40, .styles/pages/_partech.sass */
  #partech .logo
    margin-bottom: 8%
  /* line 42, .styles/pages/_partech.sass */
  #partech .content
    top: 55%
@media screen and (min-width: $breakpoint-m) and (max-height: 768px)
  /* line 47, .styles/pages/_partech.sass */
  #partech .content
    top: 42%
  /* line 49, .styles/pages/_partech.sass */
  #partech .mockup
    top: 8%
    right: -27%
    width: 150%
@media only screen and (max-device-width: 480px) and (orientation: landscape)
  /* line 55, .styles/pages/_partech.sass */
  #partech .content h2
    margin: 0 50px 30px
