.page.active
  // portfolio: text animation
  .slide
    .content
      +animation(fadeIn 1s ease)
      +animation-fill-mode(both)
      +animation-delay(0.6s)
    // bouncing work links
    .link.inlink
      +animation(bounceLeft 2s infinite)
  // bouncing scroll down links
  .discover
    +animation(bounce 2s infinite)

// contact transition
#contact
  z-index: 1
  //+transition(transform 1s ease)

.up
  .page.last
    .slide
      -webkit-animation: out-up 1s both
      animation: out-up 1s both
    .visuals
      -webkit-animation: out-down 1s both
      animation: out-down 1s both
  .page.active
    .slide
      -webkit-animation: in-up 1s both
      animation: in-up 1s both
    .visuals
      -webkit-animation: in-down 1s both
      animation: in-down 1s both
  #contact.active
    -webkit-animation: out-down 1s both
    animation: out-down 1s both

.down
  .page.last
    .slide
      -webkit-animation: out-down 1s both
      animation: out-down 1s both
    .visuals
      -webkit-animation: out-up 1s both
      animation: out-up 1s both
  .page.active
    .slide
      -webkit-animation: in-down 1s both
      animation: in-down 1s both
    .visuals
      -webkit-animation: in-up 1s both
      animation: in-up 1s both
  #contact.last
    -webkit-animation: in-up 1s both
    animation: in-up 1s both

// navbar

#navbar.moving.fixed
  -webkit-animation: nav-fixed 1s both
  animation: nav-fixed 1s both
  


//@media screen and (min-width: 961px)
//  .mockup
//    opacity: 0

// portfolio: show mockup on last slide
//.last .mockup
//  opacity: 1

// portfolio: fade in mockup
.active
  .mockup
    +animation(fadeIn 1s ease)
    +animation-fill-mode(both)
    +animation-delay(0.2s)
    //opacity: 1
    //+transition(opacity 1s linear .2s)

// page transition
#curtain
  visibility: hidden

  &.show
    visibility: visible

  &.ready
    visibility: visible

    &::after
      -webkit-animation: out-right 1s both
      animation: out-right 1s both

  &.loading
    visibility: visible

    &::after
      -webkit-animation: in-left 1s both
      animation: in-left 1s both
