// arrows

.triangle
  position: relative
  width: 16px
  height: 16px
  border-radius: 50%
  background: #d7c8a4

  &::after
    content: ""
    position: absolute
    width: 0
    height: 0
    border-style: solid

.discover
  position: absolute
  right: 10%
  top: 68%
  z-index: 600
  padding: 2em 0 2em 2em
  font-size: 12px
  line-height: 16px
  text-decoration: none
  color: #d7c8a4
  +portrait-ipad
    padding: 2em

  .triangle
    // float: right
    margin-left: 2em

.discover:hover
  text-decoration: none
  color: #d5b057

.discover:hover .triangle
  background: #d5b057

.discover .triangle::after
  top: 5px
  left: 3px
  border-width: 8px 5px
  border-color: black transparent transparent

.link .triangle
  float: right
  margin-left: 2em

.about-link .triangle
  float: left
  margin-top: 1em

.link .triangle::after,
.about-link .triangle::after
  top: 3px
  left: 5px
  border-width: 5px 8px
  border-color: transparent transparent transparent white

@media screen and (max-width: 960px)
  .discover
    position: absolute
    left: 0
    bottom: 10%
    text-align: center

    .triangle
      float: none
      display: block
      margin: 10px auto 0
