
/* footer */
/* line 3, .styles/_footer.sass */
#contact
  font-size: 12px
  background: #171717
  .spacer
    color: white

/* line 30, .styles/_footer.sass */
.contact-box a
  text-decoration: none
  color: white

/* line 35, .styles/_footer.sass */
#contact .imprint
  color: #171717
  background: white
/* line 38, .styles/_footer.sass */
#contact h2
  width: 40%
  min-width: 200px
  margin: 2% 0 3%
  padding: 0 0 1%
  border-bottom: 1px solid white
/* line 44, .styles/_footer.sass */
#contact .about-link
  position: relative
  color: white
  text-decoration: none
  /* line 49, .styles/_footer.sass */
  #contact .about-link::before
    content: ""
    position: absolute
    top: -10px
    height: 4px
    width: 32px
    background: #d7c8a4
/* line 56, .styles/_footer.sass */
#contact strong
  display: block

/* line 59, .styles/_footer.sass */
.rights a
  display: block
  color: #171717

/* line 63, .styles/_footer.sass */
.copy strong
  font-weight: normal
