// icons

@font-face
  font-family: "icomoon"
  src: url("fonts/icomoon.eot?-c7vrw2")
  src: url("fonts/icomoon.eot?#iefix-c7vrw2") format("embedded-opentype"), url("fonts/icomoon.woff?-c7vrw2") format("woff"), url("fonts/icomoon.ttf?-c7vrw2") format("truetype"), url("fonts/icomoon.svg?-c7vrw2#icomoon") format("svg")
  font-weight: normal
  font-style: normal

.icon
  display: inline-block
  width: 1.5em
  font-family: "icomoon"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-align: center
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.mail::before
  content: "\e600"
  font-size: 0.8em

.phone::before
  content: "\e601"

.location::before
  content: "\e602"

.contact-box .icon
  font-size: 0.7em
  margin-right: 0.6em

.imprint .icon
  margin-right: 1em
