.full-column-wrapper,
.three-column-wrapper,
.two-column-wrapper
  border-bottom: 10px solid white
  +pie-clearfix

.two-column-wrapper
  & > div
    width: 50%
    border-width: 0
    border-color: white
    border-style: solid
    +box-sizing(border-box)
    &:first-child
      float: left
      border-right-width: 5px
    &:last-child
      float: right
      border-left-width: 5px

.three-column-wrapper
  & > div
    width: 33.33333%
    border-width: 0
    border-color: white
    border-style: solid
    +box-sizing(border-box)
    float: left
    &:first-child
      border-right-width: 10px
    &:last-child
      float: right
      border-left-width: 10px


// mockup

.mockup
  position: absolute
  height: 100%
  width: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: 100%
  transfrom: translate3d(0, 0, 0)

.last .mockup
  opacity: 1

.active .mockup
  opacity: 1
  +transition(opacity 1s linear 0.2s)

.shadow .mockup
  background-position: bottom right
  background-repeat: no-repeat
  background-size: contain

  &::after
    background-position: bottom right
    background-repeat: no-repeat
    background-size: contain
    content: ""
    position: absolute
    bottom: 0
    left: 0
    height: 100%
    width: 100%
