.full-column-wrapper,
.three-column-wrapper,
.two-column-wrapper
  border-bottom: 10px solid white
  +pie-clearfix

.two-column-wrapper
  & > div
    +breakpoint-cs(768px)
      width: 100%
      border-bottom: 10px solid white
      height: 100vw !important
      &.text
        height: 50vw !important
        background-size: auto 30vw !important
        background-repeat: no-repeat !important
      &:last-child
        border-bottom: 0
    +breakpoint(l)
      width: 50%
      border-width: 0
      border-color: white
      border-style: solid
      +box-sizing(border-box)
      &:first-child
        +breakpoint(l)
          float: left
        border-right-width: 5px
      &:last-child
        +breakpoint(l)
          float: right
        border-left-width: 5px

    &.two-size
      & > div
        width: 100%
        &:first-child
          border-bottom: 10px solid white
          height: 23vw
        &:last-child
          height: 17vw

.three-column-wrapper
  & > div
    border: 0 solid white
    +box-sizing(border-box)
    +breakpoint-cs(768px)
      border-bottom-width: 10px
      width: 100%
      float: none
      &:last-child
        border-bottom-width: 0
    +breakpoint(l)
      width: 33.33333%
      float: left
      &:first-child
        border-right-width: 10px
      &:last-child
        float: right
        border-left-width: 10px


// mockup

.mockup
  position: absolute
  height: 100%
  width: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: 100%
  transfrom: translate3d(0, 0, 0)

.shadow .mockup
  background-position: bottom right
  background-repeat: no-repeat
  background-size: contain

  &::after
    background-position: bottom right
    background-repeat: no-repeat
    background-size: contain
    content: ""
    position: absolute
    bottom: 0
    left: 0
    height: 100%
    width: 100%
