// pagination

#pagination
  position: absolute
  right: 4%
  top: 50%
  z-index: 50
  width: 24px
  margin-top: -130px

@media screen and (max-width: $breakpoint-m)
  #pagination
    display: none

@media screen and (min-width: 1450px)
  #pagination
    right: 42%
    margin-right: -600px

.anchors
  width: 34px
  margin: 0
  padding: 0
  list-style: none

  & > li
    overflow: hidden
    display: block

  a
    display: block
    position: relative
    height: 4px
    width: 4px
    padding: 6px 10px
    margin: 5px

  .bullet
    display: block
    height: 4px
    width: 4px
    border-radius: 50%
    background-color: rgba(0, 0, 0, 0.3)

  .active
    height: 6px
    width: 6px
    padding: 6px 10px
    margin: 4px

    .bullet
      height: 6px
      width: 6px

.inverse .anchors .bullet
  background-color: rgba(255, 255, 255, 0.3)

.inverse .active .bullet
  background-color: white
