@-webkit-keyframes nav-fixed {
  0% {
    -webkit-transform: translate3d(0, -38%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes out-up {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes out-down {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes in-up {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes in-down {
  0% {
    z-index: 1;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes in-left {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes out-right {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes nav-fixed {
  0% {
    transform: translate3d(0, -38%, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes out-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes out-down {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes in-up {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes in-down {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes in-left {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes out-right {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@import "compass";

@import "variables";
@import "helpers/animation";
@import "helpers/background";
@import "helpers/breakpoints";
@import "fonts";

@import "global";
@import "icons";
@import "arrows";
@import "navigation";
@import "typography";
@import "pagination";
@import "animation";
@import "responsive";
@import "keyframes";
@import "mockup";
@import "footer";

@import "pages/arriver";
@import "pages/beloved";
@import "pages/bet2win";
@import "pages/ecratum";
@import "pages/harrys";
@import "pages/interactio";
@import "pages/intro";
@import "pages/partech";
@import "pages/eastmode";
@import "pages/about";
@import "pages/career";

@import "old";

.itemleft {
  @extend %background_full;
  display: table;
  width: 100%
}

.successwrap,
.successwrap div {
  position: relative;
  @extend %background_full
}

.picbottom,.pictop {
  height: 50%;
  width: 100%
}

.picone {
  float: left;
  width: 60%;
  height: 100%;
  @extend %background_full
}

.pictwo {
  height: 100%;
  @extend %background_full;
  float: left;
  width: 40%
}

.picbig {
  width: 100%;
  height: 100%;
  @extend %background_full
}

.headerpic {
  @extend %background_full_centered;
  background-repeat: no-repeat;
  @include landscape-ipad {
    background-size: 120% auto;
    background-position: top center !important;
  }
  @include breakpoint-cs-min(1025px) { background-attachment: fixed; }
  @include breakpoint(m) { min-height: 470px; }
  @include breakpoint-cs(480px) { height: 40vh !important; }
  @include iphone { height: 100vh !important; }
}

.successwrap .row1rightresp {
  //background-image: url(img/img5.jpg);
  @include iphone {
    background-image: none !important;
  }
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%
}

.successwrap .row1right {
  background-color: #ff4c14;
  //@include breakpoint(xl) {
  //  background-image: url(img/img5.jpg);
  //}
  background-position: 380px 0;
  background-repeat: no-repeat;
  background-size: auto 100%
}

.contact .rightaboutheader {
  //background-image: url(img/typewriter.png);
  opacity: 0;
  @include animation(fadeIn .8s linear);
  @include animation-fill-mode(both);
}
/*
.footer {
  min-height: 450px
}

@media only screen and (min-height: 560px) {
.footer {
  max-height: 580px
}
}
*/
.aboutfooter,.aboutfootertop {
  height: 100vh;
  max-height: none;
}

.aboutfooter .footerleft {
  background: #171717;
}

.footerleft .absolutewrap {
  width: 100%;
}

.aboutfmail a,.aboutftel a {
  padding-left: 20px;
}

@media only screen and (min-width: 960px) {
.colcontainer2.righttext .col2element {
  width: 50%;
}

.colcontainer2.lefttext .col1element {
  width: 49.9%;
}
}

#overview a,#pageNavi .prev a {
  background: url(img/prev_btn.png) left center no-repeat
}

#pageNavi .next a {
  background: url(img/next_btn.png) right center no-repeat
}

.challengeh3 h3,.creditsh3 h3,.factsh3 h3,.nextcaseh3 h3 {
  position: relative;
  background: 0 0
}

@include iphone {
  .casestudies {
    .abouth3, .challengeh3, .factsh3, .creditsh3, .nextcaseh3, .nextimg {
      padding: 0 10%
    }
  }
}

.challengeh3 h3:after,.creditsh3 h3:after,.factsh3 h3:after,.nextcaseh3 h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 36px;
  background: #d7c8a4
}

.casestudies #footer {
  max-width: 950px
}

@media screen and (max-width: 960px) {
.aboutsection1 {
  height: 200%
}

.aboutsection1 .textwrapabout {
  vertical-align: top
}

// .aboutsection1 .abouth1 {
//   margin-top: 10%
// }

.aboutsection1 .headerleft,.aboutsection1 .headerright,.contactheader .headerleft,.contactheader .headerright {
  position: relative;
  height: 50%
}
}

@media screen and (min-width: 600px) and (max-width: 960px) and (min-height: 600px) {
.aboutsection1 {
  height: 100%
}

.aboutsection1 .headerleft,.aboutsection1 .headerright,.contactheader .headerleft,.contactheader .headerright {
  position: relative;
  height: 50%
}
}
